body {
  background-image: url(https://i.gifer.com/76YS.gif);
  font-family: Arial, sans-serif;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
table,
th,
td {
  border: 1px solid wheat;
  color: white;
}
th,
td {
  padding: 10px;
  text-align: left;
  color: blue;
}
th {
  background-color: darkred;
  border: 10px solid darkgoldenrod;
}
img {
  max-width: 50px;
  max-height: 50px;
}

#book {
  color: white;
}

#name {
  color: black;
}

#phone {
  color: black;
}

#image {
  color: black;
}

#name1 {
  color: wheat;
}

#phone1 {
  color: wheat;
}

#img {
  color: wheat;
}

#button {
  color: darkblue;
  background-color: darkred;
  border: 7px solid darkgoldenrod;
  border-radius: 50%;
  width: 120px;
  height: 45px;
}

#contactTable {
  color: black;
  background-color: white;
}
